<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://www.padual.com/java/logback.xsd">
	<property name="logDir" value="/wy/log" />

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{0}:%line - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="appLog"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logDir}/web.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logDir}/web.log.%d{yyyy-MM-dd}</fileNamePattern>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{0}:%line - %msg%n</pattern>
		</encoder>
	</appender>


	<logger name="com.wy" level="debug"
			additivity="false">
		<appender-ref ref="appLog" />
	</logger>

	<root level="debug">
		<appender-ref ref="appLog" />
	</root>
</configuration>
